html {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*burgermenu*/

nav a.active {
  text-decoration: underline;
  color: white;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 60px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  z-index: 1000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active {
  z-index: 1000;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 5%;
  position: relative;
}

.nav-menu {
  position: absolute;
  left: -150%;
  gap: 1%;
  margin-top: -30px;
  margin-left: 0px;
  flex-direction: column;
  background-color: gray;
  width: 100%;
  height: 3000px;
  text-align: center;
  transition: 0.3s;
  z-index: -1;
  padding-top: 120px;
}

.nav_link {
  margin-top: 10%;
  color: black;
  font-size: 80px;
  font-family: Aldrich;
}

.nav-menu.active {
  left: 0;
  z-index: 1000;
}

.stornav {
  display: none;
}

/*knapper på alle projektsiderne*/

.button {
  background-color: black;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid white;
}

.button a:hover {
  color: black;
}
.button:hover {
  background-color: white;
  transition: 0.3s;
}

.links {
  font-size: 15px;
}

nav a:hover {
  text-decoration: underline;
  color: white;
}

/*forside*/

a {
  color: white;
  text-decoration: dotted;
}

.overskrift {
  font-size: 100px;
  margin-left: 3%;
  margin-bottom: 2%;
}

.p_forside {
  margin-left: 5%;
  margin-right: 10%;
  margin-bottom: 10%;
}

/* .container {
  position: relative;
} */

/*puls effekt forside*/
.puls_img {
  width: 80%;
  margin-left: 10%;
  height: auto;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.container_billede1 {
  position: absolute;
  width: 30%;
  aspect-ratio: 4/7;
  top: 7%;
  left: 50%;
}

/*om side*/

/*billeder om side*/

.silke_1 {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
  width: 50%;
}

.silke_2 {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 40%;
}

.silke_3 {
  display: none;
}

.kompetencer {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-top: 20%;
  margin-bottom: 10%;
}

ul {
  text-decoration: none;
  margin-top: 15%;
  list-style-type: none;
  margin-left: 25%;
}

li {
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 100;
  margin-top: 2%;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.telefon,
.mail {
  width: auto;
  margin-left: 80%;
}

hr {
  color: white;
  margin-top: 20%;
  border: 2px dashed;
  margin-bottom: 15%;
}

.mail_kontakt,
.telefon_kontakt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
  width: 30%;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box1 {
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-bottom: 10%;
}

.box1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box2 {
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-bottom: 10%;
}

.box2::after {
  content: "";
  width: 80%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box3 {
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: white;
  position: relative;
  margin-bottom: 10%;
}

.box3::after {
  content: "";
  width: 30%;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grid_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.sprog {
  display: block;
  margin-left: 40%;
  margin-top: 4%;
  font-family: Inter;
}

.om_ul {
  margin-bottom: 10%;
  margin-left: 25%;
}

/*projekter side*/

h1 {
  color: white;
  font-size: 160px;
  font-family: Aldrich;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 300;
  margin-left: 10%;
  margin-top: 30%;
}

.projekter_h2 {
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 100;
  margin-bottom: 10%;
  margin-top: 4%;
  margin-left: 10%;
}

.projekt {
  width: 80%;
  margin-left: 10%;
}

.video {
  width: 80%;
  margin-left: 10%;
}

.video1 {
  width: 90%;
  margin-left: 5%;
}

.desktop_h1 {
  display: none;
}

/*web - underside*/
.tekst {
  font-family: Inter;
  font-weight: 100;
  margin-left: 10%;
  margin-right: 10%;
}

.info {
  font-size: 35px;
  margin-left: 10%;
  margin-bottom: 4%;
  color: white;
  font-family: Inter;
  font-weight: 100;
  font-size: 30px;
}

.web_projekt {
  margin-right: 1%;
  margin-top: 5%;
  width: 80%;
  margin-bottom: 10%;
}

.web {
  margin-left: 3%;
}

ul {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
}

.nav_projekter {
  display: none;
}

.knap_bund {
  display: block;
  background-color: black;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5px 10px;
  border-radius: 40px;
  border: 2px solid white;
}

.knap_link {
  font-size: 25px;
}

.knap_bund a:hover {
  color: black;
}
.knap_bund:hover {
  background-color: white;
  transition: 0.3s;
}

/*this sucks*/

.presentation {
  font-size: 35px;
  margin-left: 10%;
  margin-bottom: 5%;
  color: white;
  font-family: Inter;
  font-weight: 100;
  font-size: 30px;
}

.thissucks {
  margin-left: 3%;
}

.underside_overskrift {
  font-size: 140px;
  margin-left: 3%;
}

/*videosite*/
.video_site {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.artistsite {
  font-size: 140px;
  margin-left: 3%;
}

.emil {
  margin-left: 10%;
  margin-right: 20%;
  width: 80%;
  margin-bottom: 10%;
}

/*RND*/
.video_RND {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.overskrift_RND {
  font-size: 95px;
  margin-left: 3%;
}

/*spil*/
.javascript_1 {
  margin-right: 1%;
  margin-top: 5%;
  width: 80%;
  margin-bottom: 10%;
}

.boys {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}
@media (min-width: 800px) {
  .stornav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2%;
  }

  .nav-menu.active {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  nav a:hover {
    text-decoration: underline;
    color: white;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
  .a1 {
    margin-right: 40%;
  }

  .a2 {
    margin-left: 20%;
  }

  .a3 {
    margin-right: 20%;
  }

  h1 {
    color: white;
    font-size: 80px;
    font-family: Aldrich;
    text-align: center;
    margin-top: 10%;
    font-weight: 300;
    margin-left: 0;
  }
  .knap_bund {
    display: none;
  }

  p {
    color: white;
    margin-left: 20%;
    margin-right: 30%;
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
  }

  nav a.active {
    text-decoration: underline;
    color: white;
  }

  h2 {
    color: white;
    font-size: 150px;
    margin-left: 20%;
    margin-top: 20%;
    font-family: Al Tarikh;
    font-weight: 100;
  }

  sup {
    font-size: 70px;
    font-weight: 50;
    font-family: Dhurjati;
  }

  .overskrift {
    color: white;
    font-size: 100px;
    font-family: Aldrich;
    text-align: center;
    margin-top: 10%;
    font-weight: 300;
    margin-left: 0;
    margin-bottom: 3%;
  }

  .links {
    font-size: 20px;
  }

  /*index*/

  .puls_img {
    width: 50%;
    margin-left: 20%;
    height: auto;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.07);
    }
    100% {
      transform: scale(1);
    }
  }

  .p_forside {
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 0%;
  }

  .text-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
  }

  #hoverImage {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    display: none;
  }

  .hidden {
    display: none;
  }

  .container_billede1 {
    position: absolute;
    width: 18%;
    aspect-ratio: 4/7;
    top: 55%;
    left: 65%;
  }

  .projekter_1 {
    width: 40%;
    margin-top: 5%;
    margin-left: 20%;
    pointer-events: auto;
    cursor: pointer;
  }

  /*Om side*/

  /*billeder på om*/

  .silke_1 {
    display: block;
    position: relative;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 25%;
    width: 20%;
  }

  .silke_2 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 15%;
  }

  .silke_3 {
    display: block;
    position: absolute;
    top: 25%;
    left: 70%;
    width: 25%;
  }

  /*kompetencer tekst*/
  .kompetencer {
    color: white;
    text-align: left;
    font-weight: 200;
    font-size: 30px;
    margin-top: 20%;
    margin-left: 30%;
  }

  ul {
    text-decoration: none;
    margin-top: 0%;
    list-style-type: none;
    margin-left: 20%;
  }

  li {
    color: white;
    font-family: Inter;
    font-weight: 100;
    margin-top: 0;
  }

  /* Sprog bokse*/

  .box1 {
    width: 200px;
    height: 40px;
    border-style: solid;
    border-color: white;
    position: relative;
  }

  .box1::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .box2 {
    width: 200px;
    height: 40px;
    border-style: solid;
    border-color: white;
    position: relative;
  }

  .box2::after {
    content: "";
    width: 80%;
    height: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .box3 {
    width: 200px;
    height: 40px;
    border-style: solid;
    border-color: white;
    position: relative;
  }

  .box3::after {
    content: "";
    width: 30%;
    height: 100%;
    background-color: grey;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  /*grid for kompetencer overskrift, bokse og ul*/

  .grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
  }

  .grid_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .sprog {
    display: block;
    margin-left: 40%;
    margin-top: 4%;
  }

  hr {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  footer {
    display: flex;
  }

  .logo {
    width: 10%;
    margin-left: 10%;
    margin-top: 0;
    margin-right: 25%;
  }

  .telefon {
    margin-left: 80%;
  }

  /*Projekter side*/

  .projekter_grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projekter_h2 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 100;
    margin-left: 15%;
    margin-top: 5%;
  }

  .mobilesite_h1 {
    display: none;
  }
  .desktop_h1 {
    display: block;
    font-size: 120px;
    margin-left: 0;
  }

  .video {
    width: 480px;
    height: 270px;
  }

  .video1 {
    width: 480px;
    height: 270px;

    margin-left: 10%;
  }

  .projekt {
    width: 432px;
    height: 270px;
    margin-left: 15%;
    margin-right: 5%;
  }

  /*projektsider*/

  /*web-side*/
  .info {
    font-family: Inter;
    font-size: 50px;
    margin-bottom: 3%;
    margin-top: 0;
    margin-left: 20%;
  }

  .grid_web {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .web_projekt {
    width: 580px;
    height: auto;
    margin-bottom: 25%;
    margin-top: 0;
  }

  .tekst {
    margin-right: 10%;
    font-family: Inter;
    font-weight: 100;
    margin-left: 20%;
  }

  .nav_projekter {
    margin-bottom: 5%;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5%;
  }

  #webinfo {
    margin-top: 10%;
  }
  /*This sucks*/
  .presentation {
    font-family: Inter;
    font-size: 50px;
    margin-bottom: 2%;
    margin-top: 10%;
    margin-left: 20%;
  }

  .button {
    background-color: black;
    margin-left: 20%;
    margin-top: 5%;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid white;
  }

  .button a:hover {
    color: black;
  }
  .button:hover {
    background-color: white;
    transition: 0.3s;
  }

  /*artist site*/
  .emil {
    margin-left: 10%;
  }

  .artistsite {
    font-size: 80px;
  }

  .underside_overskrift {
    font-size: 80px;
    margin-left: 0ch;
  }

  /*RND*/
  .video_RND {
    width: 80%;
  }

  .overskrift_RND {
    font-size: 80px;
    margin-left: 0%;
  }

  /*spil*/

  .javascript_1 {
    margin-top: 20%;
    width: 580px;
  }

  .h2_spil {
    margin-top: 10%;
  }
}
